# Created by .ignore support plugin (hsz.mobi)

# IDE
.idea
.vscode

# node
node_modules

# dist
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv
.env

.vercel
